# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/build/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_patched_sdk/
**/ios/Flutter/flutter_project.pbxproj
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_module.framework/
**/ios/Flutter/flutter_module.ld
**/ios/Flutter/flutter_module.mode1v3
**/ios/Flutter/flutter_module.mode2v3
**/ios/Flutter/flutter_module.xcconfig
**/ios/Flutter/flutter_module_debug.xcconfig
**/ios/Flutter/flutter_module_profile.xcconfig
**/ios/Flutter/flutter_module_release.xcconfig
**/ios/Flutter/flutter_module_test.xcconfig
**/ios/Flutter/flutter_module_profile_test.xcconfig
**/ios/Flutter/flutter_module_debug_test.xcconfig
**/ios/Flutter/flutter_module_release_test.xcconfig
**/android/.gradle/
**/android/.idea/
**/android/local.properties
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/
**/android/app/debug.keystore
**/android/app/key.properties
**/android/app/generated_plugin_registrant.java
**/android/app/src/main/flutter_assets/
**/android/app/src/main/kotlin/io/flutter/plugins/GeneratedPluginRegistrant.*
**/android/app/src/main/kotlin/io/flutter/plugins/Registrar.*
**/android/app/src/main/res/values/generated.xml
**/android/app/src/debug/AndroidManifest.xml
**/android/app/src/profile/AndroidManifest.xml
**/android/app/src/main/kotlin/com/example/MainActivity.*
**/android/app/src/main/kotlin/com/example/MainApplication.*
**/android/app/src/profile/kotlin/com/example/MainApplication.*
**/android/app/src/debug/kotlin/com/example/MainApplication.*
**/android/app/src/release/kotlin/com/example/MainApplication.*
**/android/app/src/debug/kotlin/com/example/MainActivity.*
**/android/app/src/profile/kotlin/com/example/MainActivity.*
**/android/app/src/release/kotlin/com/example/MainActivity.*
**/ios/Flutter/Debug.xcconfig
**/ios/Flutter/Profile.xcconfig
**/ios/Flutter/Release.xcconfig
**/ios/Flutter/Test.xcconfig
**/ios/Flutter/Development.xcconfig
**/ios/Flutter/Flutter.entitlements
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/flutter_project.pbxproj
**/ios/Flutter/flutter_project.xcworkspace/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/flutter_module.framework/
**/ios/Flutter/flutter_module.ld
**/ios/Flutter/flutter_module.mode1v3
**/ios/Flutter/flutter_module.mode2v3
**/ios/Flutter/flutter_module.xcconfig
**/ios/Flutter/flutter_module_debug.xcconfig
**/ios/Flutter/flutter_module_profile.xcconfig
**/ios/Flutter/flutter_module_release.xcconfig
**/ios/Flutter/flutter_module_test.xcconfig
**/ios/Flutter/flutter_module_profile_test.xcconfig
**/ios/Flutter/flutter_module_debug_test.xcconfig
**/ios/Flutter/flutter_module_release_test.xcconfig
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
lib/firebase_options.dart
android/app/build.gradle
android/app/google-services.json
android/app/src/main/res/values-night/styles.xml
android/app/src/main/res/values/styles.xml
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
android/app/src/main/res/mipmap-hdpi/ic_launcher.png
android/app/src/main/res/drawable-v21/launch_background.xml
android/app/src/main/res/drawable/launch_background.xml
android/app/src/main/kotlin/com/example/papa_burger/MainActivity.kt
android/app/src/main/AndroidManifest.xml
.env
